@using CapturedMoments.Models.CommonProp
@model IEnumerable<Feedback>


<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h4>Hear  What <em> Our Clients </em> Are Saying</h4>
                </div>
            </div>

            <div class="col-lg-8 offset-lg-2">
                <div class="owl-testimonials owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="content">
                                <div class="left-content">
                                    <p>@item.FeedbackText</p>
                                    <h4>@item.PhotographerName</h4>
                                    <span>@item.ClientName</span>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>

</section>
