<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CapturedMoments</title>
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-snapx-photography.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="~/CapturedMoments.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/templatemo-snapx-photography.css">
    <link rel="stylesheet" href="~/css/owl.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="~/AboutUs/css/style.css" rel="stylesheet">
    <link href="~/BookPage/css/hover-style.css" rel="stylesheet">
    <link href="~/BookPage/css/style.css" rel="stylesheet">
    <link href="~/BookPage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/BookPage/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/BookPage/vendor/slick/slick.css" rel="stylesheet">
    <link href="~/BookPage/vendor/slick/slick-theme.css" rel="stylesheet">
    <link href="~/BookPage/vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Account+dash/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Account+dash/css/line-awesome.css" />
    <link rel="stylesheet" href="~/Account+dash/css/animate.min.css" />
    <link rel="stylesheet" href="~/Account+dash/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Account+dash/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Account+dash/css/select2.min.css" />
    <link rel="stylesheet" href="~/Account+dash/css/fancybox.css" />
    <link rel="stylesheet" href="~/Account+dash/css/tooltipster.bundle.css" />
    <link rel="stylesheet" href="~/Account+dash/css/leaflet.css" />
    <link rel="stylesheet" href="~/Account+dash/css/style.css" />
</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky" style="position: fixed;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-controller="Home" asp-action="Index" class="logo">
                            <img src="~/images/logoo.png" alt="SnapX Photography Template" style="max-width: 70px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                            <li>
                                <a href="#Photographer">Photographers</a>
                            </li>
                            <li><a asp-controller="AboutUs" asp-action="AboutUs">About Us</a></li>
                            <li>
                                <a href="/#ContactUs">Contact Us</a>
                            </li>
                        </ul>
                        <div class="border-button">
                            <a id="modal_trigger" href="#modal" class="sign-in-up">
                                <i class="fa fa-user"></i> Sign
                                In/Up
                            </a>
                        </div>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div id="modal" class="popupContainer" style="display:none;">
        <div class="popupHeader">
            <span class="header_title">Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </div>

        <section class="popupBody">
            <!-- Social Login -->
            <div class="social_login">
                <div class="centeredText">
                    <span>Join us as a photographer create your account and start sharing your creativity</span>
                </div>

                <div class="action_btns">
                    <div class="one_half btn btn-primary">
                        <a asp-controller="Account" asp-action="Login" class="text-white">Login</a>
                    </div>
                    <div class="one_half last btn btn-primary">
                        <a asp-controller="Account" asp-action="Register" class="text-white">Sign up</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>


    <!-- ***** Header Area End ***** -->
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer style="margin-top:0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2024 <a href="#">Captured Moments</a> All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>

       <script src="~/vendor/jquery/jquery.min.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="~/assets/js/isotope.min.js"></script>
  <script src="~/assets/js/owl-carousel.js"></script>

  <script src="~/assets/js/tabs.js"></script>
  <script src="~/assets/js/popup.js"></script>
  <script src="~/assets/js/custom.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/tabs.js"></script>
    <script src="~/js/popup.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/AboutUs/js/main.js"></script>
    <script src="~/BookPage/js/main.js"></script>
    <script src="~/BookPage/js/booking.js"></script>
    <script src="~/BookPage/js/jqBootstrapValidation.min.js"></script>
    <script src="~/Account+dash/js/jquery-3.7.1.min.js"></script>
    <script src="~/Account+dash/js/bootstrap.bundle.min.js"></script>
    <script src="~/Account+dash/js/select2.min.js"></script>
    <script src="~/Account+dash/js/owl.carousel.min.js"></script>
    <script src="~/Account+dash/js/waypoint.min.js"></script>
    <script src="~/Account+dash/js/jquery.counterup.min.js"></script>
    <script src="~/Account+dash/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
