
@{
    ViewData["Title"] = "AboutUs";
}

<div class="wrapper">
    <!-- About Start -->
    <div class="about" style="padding: 20px;">
        <div class="container-fluid" style=" margin-top:50px">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="~/AboutUs/img/pexels-andre-furtado-43594-1264210.jpg" alt="Image">
                </div>
                <div class="col-md-6">
                    <h2 class="section-title">Learn About Us</h2>
                    <p>
                        At Capture, we bring together clients and photographers in one easy-to-use platform. Whether you're looking to book a photographer for a special occasion or you're a photographer wanting to showcase your portfolio and manage bookings, we make the process simple and convenient.
                    </p>
                    <p>
                        Clients can explore photographer portfolios, view galleries, and book sessions based on their preferences. Photographers can grow their business by managing sessions, displaying their best work, and connecting with potential clients—all in one place.
                    </p>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Story Start -->
    <div class="story">
        <div class="container-fluid">
            <div class="section-header">
                <h2>Our Story</h2>
                <p> Capture started with a simple idea: to make it easy for people to connect with talented photographers. We saw the need for a platform that allows clients to find photographers who match their vision, while helping photographers grow their business and showcase their work. Today, we’re proud to bring these two groups together to capture unforgettable moments.</p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="story-container">
                        <div class="story-end">
                            <p>Now</p>
                        </div>
                        <div class="story-continue">

                            <div class="row story-right">
                                <div class="col-md-6">
                                    <p class="story-date">
                                        01 Jun 2020
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="story-box">
                                        <div class="story-icon">
                                            <i class="fa fa-gift"></i>
                                        </div>
                                        <div class="story-text">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet elit ornare velit non</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row story-left">
                                <div class="col-md-6 d-md-none d-block">
                                    <p class="story-date">
                                        01 Jan 2020
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="story-box">
                                        <div class="story-icon d-md-none d-block">
                                            <i class="fa fa-business-time"></i>
                                        </div>
                                        <div class="story-text">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet elit ornare velit non</p>
                                        </div>
                                        <div class="story-icon d-md-block d-none">
                                            <i class="fa fa-business-time"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 d-md-block d-none">
                                    <p class="story-date">
                                        01 Jan 2020
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="story-year">
                                        <p>2020</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row story-right">
                                <div class="col-md-6">
                                    <p class="story-date">
                                        01 Dec 2019
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="story-box">
                                        <div class="story-icon">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <div class="story-text">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet elit ornare velit non</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row story-left">
                                <div class="col-md-6 d-md-none d-block">
                                    <p class="story-date">
                                        01 Sep  2019
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="story-box">
                                        <div class="story-icon d-md-none d-block">
                                            <i class="fa fa-cogs"></i>
                                        </div>
                                        <div class="story-text">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet elit ornare velit non</p>
                                        </div>
                                        <div class="story-icon d-md-block d-none">
                                            <i class="fa fa-cogs"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 d-md-block d-none">
                                    <p class="story-date">
                                        01 Sep  2019
                                    </p>
                                </div>
                            </div>

                            <div class="row story-right">
                                <div class="col-md-6">
                                    <p class="story-date">
                                        01 Jun 2019
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="story-box">
                                        <div class="story-icon">
                                            <i class="fa fa-running"></i>
                                        </div>
                                        <div class="story-text">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet elit ornare velit non</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row story-left">
                                <div class="col-md-6 d-md-none d-block">
                                    <p class="story-date">
                                        01 Mar 2019
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="story-box">
                                        <div class="story-icon d-md-none d-block">
                                            <i class="fa fa-home"></i>
                                        </div>
                                        <div class="story-text">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet elit ornare velit non</p>
                                        </div>
                                        <div class="story-icon d-md-block d-none">
                                            <i class="fa fa-home"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 d-md-block d-none">
                                    <p class="story-date">
                                        01 Mar 2019
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="story-start">
                            <p>Launch</p>
                        </div>
                        <div class="story-launch">
                            <div class="story-box">
                                <div class="story-text">
                                    <h3>Launched our company on 01 Jan 2019</h3>
                                    <p>Lorem ipsum dolor sit amet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Story End -->
    