@model IEnumerable<Photographer>


<section class="popular-categories" id="myComponent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h6>Caputerd Moments</h6>
                    <h4>Check Out <em>Our Innovation</em> Photographers</h4>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        @foreach (var item in Model)
        {
                <div class="col-lg-3 col-sm-6">
                    <div class="popular-item">
                        <div class="top-content">
                            <div class="right">
                                <h4>@item.PhotograperName</h4>
                            </div>
                        </div>
                        <div>
                            <img src="@item.Image">
                        </div>
                        <div class="border-button">
                            <a asp-controller="Profile" asp-action="Profile" asp-route-id="@item.PhotographerId">View Profile</a>
                        </div>
                    </div>
                </div>
        }
        </div>
    </div>
</section>
